.timeline-slot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px dashed gray;
  border-radius: 50%;
  overflow: hidden;
}


@media (max-width: 768px) {
  .timeline-slot {
    width: 70px;
    height: 70px;
  }

  .timeline-artwork {
    width: 90%;
    height: 90%;
  }
}

.timeline-slot.active {
  border: 2px solid #4fc3f7;
  box-shadow: 0 0 10px rgba(79, 195, 247, 0.7);
}

@media (max-width: 480px) {
  .timeline-slot {
    width: 60px;
    height: 60px;
  }

  .timeline-artwork {
    width: 80%;
    height: 80%;
  }
}

.timeline-artwork {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
  visibility: hidden;
}

.correct:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .tooltip {
    font-size: 10px;
    padding: 4px 6px; 
  }
}