.artwork-card {
  width: 100px;  /* Ajuste do tamanho do card */
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;  /* Garante que o conteúdo não ultrapasse os limites */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artwork-image-container {
  width: 100%;
  height: 120px;  /* Define o tamanho fixo da imagem */
  overflow: hidden;
}

.artwork-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artwork-title {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
